
.block {
    color: green;
    border: 1px black solid;
    width: 1.7em;
    height: 1.7em;
  }
  
  .blockColorRed {
    background: lightcoral;
    animation-name: example;
    animation-duration: .5s;
  }

  .blockColorOrange {
    background: orange;
    animation-name: example;
    animation-duration: .5s;
  }

  .blockColorOcean {
    background: rgb(163, 240, 235);
    animation-name: example;
    animation-duration: .5s;
  }

  .blockColorPink {
    background: rgb(222, 138, 222);
    animation-name: example;
    animation-duration: .5s;
  }

  .blockColorSalmon {
    background: rgb(143, 189, 139);
    animation-name: example;
    animation-duration: .5s;
  }

  .blockColorBlue {
    background: lightblue;
  }

  .blockColorGreen {
    background: lightgreen;
    animation-name: example;
    animation-duration: .5s;
  }

  .blockColorYellow {
    background: lightyellow;
    animation-name: example;
    animation-duration: 1.5s;
  }
  @keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
  }


  @media (max-width : 700px) {
    .block 
    {
      max-width: 100%;
    }
  }
