.mainGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(15, auto);
    color: red;
  }

  @media (max-width : 700px) {
    .mainGrid 
    {
      grid-template-columns: repeat(15, 6%);
    }
    
}


.mainGrid12 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(20, auto);
  grid-template-rows: repeat(20, auto);
  color: red;
}

@media (max-width : 700px) {
  .mainGrid12 
  {
    grid-template-columns: repeat(20, 4%);

  }
  
}